{% if mail_variables['country_id'] == '1' or mail_variables['country_id'] == '2' %}

  {% if mail_variables['is_member'] %}
    <p>Beste {{ mail_variables['first_name'] }} {{ mail_variables['last_name'] }} </p>
  {% else %}

    {% if mail_variables['was_updated'] %}
      <p>We hebben uw wijziging goed ontvangen. De deelnemers zullen eveneens op de hoogte gesteld worden.</p>
      <p>Beste {{ mail_variables['store_department'] }} </p>
    {% else %}
      <p>Beste {{ mail_variables['store_department'] }} </p>
    {% endif %}

  {% endif %}

  <p>Hartelijk dank voor uw inschrijving voor de volgende training:<br/>
    <b>Merken: </b> {{ mail_variables['brands'] }} <br/>
    <b>Datum: </b> {{ mail_variables['start_date'] }} <br/>
    <b>Naam van de training: </b> {{ mail_variables['title_training'] }} <br/>
    <b>Aantal deelnemers: </b>  {{ mail_variables['amount_members'] }} <br/>
  </p>

  {% if mail_variables['is_member'] == false %}
    <p>Uw inschrijvingsnummer is <b> {{ mail_variables['unique_code'] }} </b>
      Met dit unieke nummer kan u later eventueel nog wijzingen aanbrengen in uw inschrijving.</p>
  {% endif %}

  <table border="0">
    <tr>
      <td><b>Waar?</b></td>
      <td> {{ mail_variables['address']|raw }} </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td><b>Wanneer?</b></td>
      <td>
        Training: {{ mail_variables['start_time'] }} – {{ mail_variables['end_time'] }}
      </td>
    </tr>
  </table>
  <br/>
  <p>
    We kijken ernaar uit u te mogen verwelkomen en wensen u een leerzame training!<br/>
    Met vriendelijke groet,<br/>
    Het Education-team van Estée Lauder Companies
  </p>
  {% if mail_variables['is_member'] %}
    <p>Je werd ingeschreven door:</p>
    <b>E-mail: </b> {{ mail_variables['store_email'] }} <br/>
    <b>Winkel / afdeling: </b> {{ mail_variables['store_department'] }} <br/>
    <b>Winkeladres: </b> {{ mail_variables['store_address'] }} <br/>
  {% endif %}

{% elseif mail_variables['country_id'] == '3' or mail_variables['country_id'] == '4' %}

  {% if mail_variables['is_member'] %}
    <p>Cher/Chère {{ mail_variables['first_name'] }} {{ mail_variables['last_name'] }} </p>
  {% else %}
    {% if mail_variables['was_updated'] %}
      <p>Nous avons bien reçu les changements que vous avez effectués. Les participants recevront également une notification.</p>
      <p>Cher/Chère {{ mail_variables['store_department'] }} </p>
    {% else %}
      <p>Cher/Chère {{ mail_variables['store_department'] }} </p>
    {% endif %}
  {% endif %}

  <p>Nous vous remercions de votre inscription pour la formation suivante:<br/>
    <b>Nom de la marque: </b> {{ mail_variables['brands'] }} <br/>
    <b>Date de la formation: </b> {{ mail_variables['start_date'] }} <br/>
    <b>Formation: </b> {{ mail_variables['title_training'] }} <br/>
    <b>Nombre de participants: </b>  {{ mail_variables['amount_members'] }} <br/>
  </p>

  {% if mail_variables['is_member'] == false %}
    <p>Votre numéro d’inscription est <b> {{ mail_variables['unique_code'] }} </b>
      Grâce à ce numéro unique, vous pouvez modifier votre inscription si nécessaire.</p>
  {% endif %}

  <table border="0">
    <tr>
      <td><b>Où?</b></td>
      <td> {{ mail_variables['address']|raw }} </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td><b>Quand?</b></td>
      <td>
        Formation: {{ mail_variables['start_time'] }} – {{ mail_variables['end_time'] }}
      </td>
    </tr>
  </table>
  <br/>
  <p>
    Nous nous réjouissons de vous accueillir et vous souhaitons une excellente journée de formation!<br/>
    Cordialement,<br/>
    L’équipe de formation Estée Lauder Companies
  </p>
  {% if mail_variables['is_member'] %}
    <p>Vous avez été inscrit(e) par:</p>
    <b>E-mail: </b> {{ mail_variables['store_email'] }} <br/>
    <b>Magasin / département: </b> {{ mail_variables['store_department'] }} <br/>
    <b>Adresse du magasin: </b> {{ mail_variables['store_address'] }} <br/>
  {% endif %}
{% endif %}





